<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="SalesDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\пользователь\source\repos\SalesDb.WinFormsApp\SalesDb.DataAccess\SalesDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>  

</connectionStrings>
</configuration>